In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])

In [7]:
dates = pd.date_range('20130101', periods=6)

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
np.random.randint(1,7,10)

array([1, 1, 2, 2, 4, 5, 1, 5, 6, 1])

In [10]:
df

                   A         B         C         D
2013-01-01  1.282285 -0.628680 -0.755067 -0.488100
2013-01-02 -1.793577  1.194827  0.214757  0.670819
2013-01-03 -0.089581 -0.087198 -0.665304  0.469491
2013-01-04 -0.564864  1.084174 -0.483188  0.408649
2013-01-05 -0.830021 -0.086894 -1.535807 -0.397729
2013-01-06  0.149038  0.393570  0.000725 -0.722806

In [11]:
df =  pd.read_csv('../TempLogBad.dat', sep='\t', index_col=3, header=None, names=['Sens','Tpe','Val','Time'])

In [12]:
df.head()

                           Sens       Tpe   Val
Time
2015-05-08 22:13:40         Bad      temp  11.3
2015-06-11 22:08:50  Bad - gulv      temp  25.9
2015-06-11 22:08:50  Bad - gulv  humidity  34.0
2015-05-08 22:13:40         Bad      temp  11.3
2015-06-11 22:18:50  Bad - gulv      temp  25.9

In [13]:
temp = df[df.Tpe == 'temp']

In [14]:
temp[temp.Sens == 'Bad'].Val.plot()
temp[temp.Sens == 'Bad - gulv'].Val.plot()
plt.c
plt.show()

SyntaxError: invalid syntax (<ipython-input-14-6c157cb30d55>, line 3)

In [21]:
1+2

3

In [1]:
s = '#H Div date mm'

In [3]:
s[:2]

'#H'

In [4]:
s[3:]

'Div date mm'